.container {
    /* Intro Page */
    position: absolute;
    width: 1440px;
    height: 411px;
    left: 0;
    right: 0;
    top: 142px;
    bottom: 1859px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.introText {
    /* Intro Text */
    position: static;
    width: 873px;
    height: 419px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 112px;   
}

.title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.picture {
    /* Rectangle 7 */
    position: absolute;
    width: 375px;
    height: 403px;
    left: 1025px;
    top: 4px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 360px;

    background: rgb(217, 217, 217);
}