.container {
    list-style: none;
    background-color: rgba(0,0,0,40%);
    position: absolute;
    padding: 0px 12.5%;
    width: 100%;
    height: 54px;
    top: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between; 
    color: white;
}

.option {
    /* border: 1px solid red; */
    padding: 0;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;
    transition:0.2s ease;
    /* border: 1px solid black; */
}

.option:hover {
    transform: translateY(-3px);
    color:blueviolet;
}